@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do');

@media screen and (max-width:767px){
  
  #info h5{
  font-size:1.3em;
  color:#3a3a3a;
  font-family: "Poiret One"; 
  text-align:center;  
}
  
  #dark{
    height:500px;
    padding:20% 10% 0%;
  }
  #dark h1{
    font-size:2.8em;
  }
#port img{
  height:250px;
}
 #navigation{
    display:none;
  }
  #navigationMobile{
    display:none;
    text-align:center;
    margin:0px auto;
  }
 #skillz{
  font-size:0.8em; 
  display:inline;
  color:grey;
}
  
  #mobileMenuButton{
    display:inline-block;
    border:1px solid #3a3a3a;
    border radius: 0px;
    color:white;
    margin:0px auto;
  }
  
  #info{
    font-weight:bold;
  }
  #topDivMobile{
  padding: 2%;
  background-color: rgba(0,0,0,1);
  width: 100%;
    z-index:5;
    margin:0px auto;
    text-align:center;
}

  #title h1{
    font-size:2.4em; 
  }
  
  #title p{
    font-size:1.2em;
  }
h1{
  margin:5% auto; 
  font-size:2.6em; 
  font-weight:bold;
  font-family: "Poiret One";
}
  
#port h2 {
  margin:3%; 
  font-size:2.5em;
}

  
  #info h3{
  font-size:1.6em;
  font-family: "Poiret One";
  padding:5% 6% 1%;
}
  
  #reference h5{
font-size:1em;
font-weight: bold;
 text-align:justify;   

color:#1a1a1a;

font-family: "Poiret One";

}
  
  .img-rounded, .img-circle{
  margin:0px auto;
  max-width:200px;
  height: 200px;  
}
  
}

@media screen and (min-width:767px){
  
 
 .img-rounded, .img-circle{
  margin:0px auto;
  max-width:250px;
}
  
#info h5{
  font-size:1.3em;
  color:#3a3a3a;
  font-family: "Poiret One";
  font-weight:normal;
  text-align:justify;
}
  
#dark{
    height:600px;
    padding:15% 10% 25%;
  }
#port img{
  height:250px;
}  
  
#navigationMobile, #mobileMenuButton, #topDivMobile{
    display:none;
  }
#navigation{
    display:inline-block;
  }
  
 h2{
  margin:5% auto; 
  font-size:3em; 
  font-weight:bold;
  font-family: "Poiret One";
}
 #title h1 {
 font-size:4.2em;   
}
  
  #info h3{
  font-size:1.7em;
  font-family: "Poiret One";
  padding:5% 6% 1%;
}
  
#reference h5{
font-size:1.3em;
color:#1a1a1a;
font-family: "Poiret One";
text-align:justify;
}
  #skillz{
  font-size:1.2em; 
  display:inline;
  color:grey;
}
  
}

/*everything else*/
*, *:before, *:after {
  box-sizing: border-box;
  letter-spacing:1px;
}

#topDivMobile .f
{
  font-size:3.5em;
  font-family: "Nothing You Could Do";
  font-weight:bold;
}

html {
  scroll-behavior: smooth;
}

a h4:hover{
  transition: all 200ms;
}
li{font-size:120%; font-weight:bold; }
.skillzGroup{clear:left;}
h3,h4{font-family: "Poiret One";}



p{
  font-size:1.4em;
}

h1, h2, .canDo h3, .skillzGroup h3{  text-transform:uppercase; text-align:center; font-weight:bold;
  
}


h4{ 
  text-transform: uppercase;
  font-size:1.5em;
}

#port h4{
  text-align:center;
}

.portText p {
  font-family: "Poiret One";
  font-size:1.5em;
}

body {
  background-color:white; 
  font-family: "Poiret One";
}

.navbar, .panel-footer {
  border: none;  
}

.girl{
  width:150px;
  margin: auto;
  display:none;
}


#port h5{
  font-size:1.2em;
  display: none;
}

#title h4{
  font-size:1.5em;
}

.canDo {
  
  text-align:center;
  padding: 1% 3%;
}

 .canDo .glyphicon, .canDo .fa{
   font-size:60px;
   color: #737373;
}




.links{
  color:#453a35;
  border-bottom:none;
  display: inline-block;
  font-weight:bold;
}

.linksMobile h4:hover, .links h4:hover{
  color:grey;
}
.linksMobile h4, .links h4{
  margin:0px auto;
  border-bottom:none;
  font-size: 1.5em;
  font-family:"Poiret One";
}

.portText { 
  color:white;  
  background-color:#1a1a1a;
  padding:60px;  
}


#port img{
  margin: 2px auto 20px;
  width: 100%;
  text-align:center;
  border-radius:0%;
}

.img-rounded, .img-circle{
  margin:0px auto;
  max-width:250px;
}

img:hover {
  box-shadow: 5px 1px 10px #292929;
}

h2 {
  margin:3%; 
  font-size:3em;
}



input, textarea{
  border:none; 
  background-color:#1a1a1a; 
  border-bottom: 1px solid #292929;
  font-size: 20px; 
  width:100%;
  color:white;
}

input:focus, textarea:focus {
  background-color: white;
  color:#1a1a1a;
}

.AboutAround {
  width:100%;
  margin:0px; 
  padding:4% 8%; 
  box-shadow: 10px 10px 10px grey; 
  background-color:#0d0d0d; 
  color:white;
}

.btn:hover  {background-color:white; color:#3a3a3a;}

.btn{background-color:#3a3a3a; color:white; font-size: 1.3em; font-weight:bold;
transition: all 500ms;}

#title button{border:none; background-color:white; color:#3a3a3a;transition: all 500ms;}

#title button:hover{border:1px solid #3a3a3a; background-color:#3a3a3a; color:white; font-size: 1.3em; font-weight:bold;}


#mobileMenuButton:hover{
  background-color:white;
  color:#1a1a1a;
}

.btn-circle-lg {border-radius: 100%; padding:4%; text-align:center;}

.btn-circle-lg:hover {background-color:grey;}

.overlay {
  position: fixed;
  z-index:3;
  padding:0px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  overflow:auto;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
}

#portNav span{
  text-decoration:underline;
}
#portNav span:hover{
  cursor:pointer;
  color: grey;
}

.selected{
  font-weight:bold;
  color: grey;
}

#title {
  padding:10% 10%;
}

body{
  background-image: url("https://st.depositphotos.com/1001069/2820/i/950/depositphotos_28202621-stock-photo-notepad-laptop-and-coffee-cup.jpg");
  background-size: cover;
  background-attachment:fixed; 
}

#reference{
  background-color: rgba(250,250,250,0.8);
  padding:8%;
}



/*  */

.navbar-brand{
  font-size:2em;
  color:#3a3a3a;  
}
.navbar-brand:hover{
  color:#fefbf9;
}

#navigation{
  background-color: rgba(50,50,50, 0.5);
  border: none;
  padding: 2% 0%;
  font-size:.7em;
  width:100%;
  text- align:center;
  margin:0px auto;
}

#navigation li, #navigationMobile ul li {
  list-style-type:none;
  margin:0% 1%;
  color:white;
}

#navigation li a, #navigationMobile ul li a{
  text-decoration: none;
  color:white;   
}

 #navigation .selected a:hover{
    border-bottom:none; 
   
  }

#navigationMobile button{
  background-color: #996300;
}
#navigationMobile button:hover, .navbutton:hover{
  background:none;
  color:#996300;
}

.hidden{
  display:none;
}

.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
}

#portNav h6, #portNav span{
  font-size:1.2em;
  font-weight:bold;
}

h6{
  font-size:1.3em;
  font-weight:bold;
}

.links .fa, .linksMobile .fa, .links strong, .linksMobile strong{
  font-size:1.3em;
} 

.linksMobile .fa{
display:inline;
}

.icon{
display:inline-block;
  margin:10% auto 0%;
  text-align:center;
}
#info{
  /*background-image: url("https://st.depositphotos.com/1001069/2820/i/950/depositphotos_28202621-stock-photo-notepad-laptop-and-coffee-cup.jpg");
  background-size: cover;
  background-attachment:fixed; */
  font-weight:bold;
  background-color: rgba(255,255,255,0.93); 
  color: #1a1a1a;
}

.skillzGroup{
  padding: 3% 8%;
}
#canDoGroup{
  padding:5% 6% 2%;
}

#AboutAround p, #title h3{
  font-size:1.7em;
  font-family: "Poiret One";
}

#title h3{
   color: grey;
  
}


blockquote footer{
  color:grey;
  font-size:1em;
}

.highlight{
  color: grey;
  font-weight:bold;
}

#port{
  padding:4% 6% 15%;
}

