/** sass/scss/less code */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
body {
    background-color: #B3350B;
    background-image: url(http://www.publicdomainpictures.net/pictures/30000/velka/orange-textile-background.jpg);
    color: white;
    font-family: "Sansita";
}

.view {
    text-align: center;
    padding: 40px;
    margin: 10px 10px 10px 10px;
    border: 2px dashed white;
    border-radius: 5px;
}

.view .btn {
    font-family: "Amatic SC";
    background-color: #8F2501;
    text-transform: uppercase;
    border: 1px dashed white;
    color: white;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
    letter-spacing: 1px;
}

.view .btn:hover {
    background-color: white;
    color: #8F2501;
}

#results .player {
    height: 100px;
    padding: 50px;
}

.fa-soundcloud {
    font-size: 50px;
}
