/*form queries*/
@media screen and (max-width:500px){
  span br{
  display:none;
}
  
}
@media screen and (min-width:500px){
  #col-xs-6{
  width:47%;
  display:inline-block;
  margin: 0% 1%;  
}
  
}

/*Other media queries*/
@media screen and  (max-width: 768px) {
  #navbar-desktop{
    display:none;
  }
  #navbar-mobile{
    display:none;
  }
}
@media screen and  (min-width: 768px) {
  
  span br{
  display:none;
}
  
  #topDivMobile{
    display:none;
  }
  .navbar-desktop{
    display:inline-block;
  }
  
}
  

*{
  box-sizing:border-box;
}



.container-fluid {
  margin:0px auto; 
  padding: 5%;
}

.hidden{
  display:none;
}

input[placeholder]{
  font-size:.8em; 
  text-align: center;
}


input[type=text]{
  height:20px;
}
input[id=tmSequence]{
  text-align:center;
}
 input[type=text]:focus {
  border-color: lightblue;
}

#mergeSequence label, #sequenceDiverge label{
  font-weight:bold;
}

.links{
  border-bottom:none;
  display: inline-block;
  font-weight:bold;
  list-style-type:none;
}

.linksMobile h4:hover, .links h4:hover{
  color:#805300;
}

.linksMobile{
  color:#453a35;
  margin:0px auto;
  border-bottom:none;
  font-size: 2em;
  list-style-type:none;
}


.logo{
  font-size:2em;
}

#mobileMenuButton{
    display:inline-block;
    border:1px solid #3a3a3a;
    border radius: 0px;
    color:#3a3a3a;
    margin:0px auto;
  }

.navbar{
  border-bottom: 2px solid grey;
  background-color: rgba(250,250,250, 1);
}
.navbar a{
   color:#453a35;
}
.navbar a:hover{
  text-decoration: none;
  color: blue;
}

  #topDivMobile{
  padding: 2%;
  background-color: rgba(250,250,250, 1);
  width: 100%;
  z-index:5;
  margin:0px auto;
  text-align:center;
}


